.form-control::placeholder {
  color: rgb(225,221,214);
  opacity: 0.75 !important;
}

.btn-outline-light:hover {
  background-color: white;
}

.autocomplete-items {
  border-right-color: rgb(69, 74, 77);
  border-left-color: rgb(69, 74, 77);
  border-bottom-color: initial;
  border-top-color: initial;
}
.autocomplete-items div {
  background-color: rgb(37, 39, 40);
  border-bottom-color: rgb(69, 74, 77);
}
.autocomplete-items div:hover {
  background-color: rgb(44, 47, 49);
}
.autocomplete-active {
  color: rgb(249, 247, 244);
  background-color: rgb(6, 105, 201) !important;
}

.carousel-indicators {
  top: 0!important;
}

.carousel-indicators li {
  background-color: white;
  position: relative;
  margin-bottom: 0;
}