.form-control::placeholder {
  color: rgb(225,221,214);
  opacity: 0.75 !important;
}

.btn-outline-light:hover {
  background-color: white;
}

.autocomplete-items {
  border-right-color: rgb(69, 74, 77);
  border-left-color: rgb(69, 74, 77);
  border-bottom-color: initial;
  border-top-color: initial;
}
.autocomplete-items div {
  background-color: rgb(37, 39, 40);
  border-bottom-color: rgb(69, 74, 77);
}
.autocomplete-items div:hover {
  background-color: rgb(44, 47, 49);
}
.autocomplete-active {
  color: rgb(249, 247, 244);
  background-color: rgb(6, 105, 201) !important;
}
/*.form-control-lg:focus {*/
/*  color: rgb(196, 189, 180);*/
/*  background-color: rgb(31, 34, 35);*/
/*  border-color: rgb(6, 76, 153);*/
/*  outline-color: initial;*/
/*  box-shadow: rgba(6, 109, 220, 0.25) 0px 0px 0px 0.2rem;*/
/*}*/
/*.form-control-lg::-webkit-input-placeholder {*/
/*  color: rgb(171, 163, 150);*/
/*}*/
/*.form-control-lg:disabled,*/
/*.form-control-lg[readonly] {*/
/*  background-color: rgb(43, 46, 47);*/
/*}*/
/*.form-control-lg-plaintext {*/
/*  color: rgb(225, 221, 214);*/
/*  background-color: transparent;*/
/*  border-color: transparent;*/
/*}*/